<div class = 'row top-padding'>
  <div class = 'col-md-12 padding-head' >
    <h1 class='text-center c-font bold'><%=@forecast.now_statement%> </h1>
    <h2 class='text-center'><%=@forecast.city %>, <%= @forecast.state %> (<%= @forecast.zipcode%>)<%= %></h2>
  </div>
</div>
<div class = 'data-container'>
  <div class = "row top-padding">
    <div class= "col-md-5">
      <div class = "padding">
        <center><h4 class = 'dash-font'><span class= 'red'>Perceived Temperature vs. </span></h4>
        <h4 class = 'dash-font'> Actual Temperature </h4></center>
        <%= line_chart @forecast.data_temps, @forecast.options_temps %>
      </div>
    </div>

    <div class= "col-md-2">
    </div>
                                
    <div class = "col-md-5">
      <div class = "padding dash-font"> 
        <p> Right now it's <%=@forecast.temperature[0]%>°F,  <%=@forecast.humidity[0]%>% humidity <img src ="<%=@forecast.conditions_icon%>"></p><br>
        <p>Feels like <%=@forecast.heat_index[0]%>°F.</p><br>
        <p><%= @forecast.discrepancy_statement %></p><br>
        <p><%= @forecast.t_shirt_statement %></p><br>
        <p><%= @forecast.uv_statement %></p>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class="form-horizontal">
      <class = "form">
      <%= form_for @forecast, url: forecasts_path, method: "POST", html: {class: "navbar-form navbar-nav"} do |f| %>
        <%= f.text_field :zipcode, :placeholder => "Enter Your Zipcode", class: "form-control" %>
        <%= f.submit "Get Another Forecast!", class: "btn btn-default" %>
      <% end %>
    </div>
  </div>
</div>