<center><h1>Right now in <%=@forecast.city %>, <%= @forecast.state %> (<%= @forecast.zipcode%>):<%= %></h1></center>
<center><h1>it is <%=@forecast.now_statement%> </h1></center>
<!-- <center><h1>From [forecast start time] to [forecast end time]</h1></center>
<center><h1>It will be...<%= %></h1></center>
 -->
 <div id= 'chart_wrapper'>
<% @data_temps = {
    labels: @forecast.hours , 
    datasets: [
        {
            label: "Forecasted Temperature, F",
            fillColor: "rgba(220,220,220,0.2)",
            strokeColor: "rgba(220,220,220,1)",
            pointColor: "rgba(139,0,0,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(220,220,220,1)",
            data: @forecast.temperature
        },
        {
            label: "Actual Temperature, F",
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(178,34,34,1)",
            pointColor: "rgba(178,34,34,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            data: @forecast.heat_index
        }
    ]
}

@options_temps =    {animationEasing: "easeOutElastic",
                    generateLegend: true,
                    scaleFontSize: 10,
                    responsive: false,
                    datasetFill: false,
                    width: 400,
                    height: 400,
                    scaleLineColor: "rgba(139,0,0,1)",
                    scaleGridLineColor: "rgba(250,128,114,0.1)"
                    # scaleOverride: true
                    } %>



<!-- Today is forecast to be WARMER than yesterday -->
<!-- It today is later then 6pm, 'tomorrow will be hotter than today'
else
'today is hotter than yesterday' -->
<!-- lots of animation opportunities... I picked the above pretty much randomly as they don't make much of a difference for smaller charts such as ours -->

<!-- <h1>
<% @data_humidity = {
    labels: @forecast.hours, 
    datasets: [
        {
            label: "Relative Humidity, %",
            fillColor: "rgba(220,220,220,0.2)",
            strokeColor: "rgba(178,34,34,1)",
            pointColor: "rgba(178,34,34,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(220,220,220,1)",
            data: @forecast.humidity
        }
    ]
}

@options_humidity =     {:generateLegend => true,
                        scaleFontSize: 10,
                        responsive: false,
                        datasetFill: false,
                        width: 400,
                        height: 400,
                        scaleLineColor: "rgba(139,0,0,1)",
                        scaleGridLineColor: "rgba(250,128,114,0.1)"
                        } %>


<% @data_wind_chill = {
    labels: @forecast.hours , 
    datasets: [
        {
            label: "Wind Chill, F",
            fillColor: "rgba(220,220,220,0.2)",
            strokeColor: "rgba(178,34,34,1)",
            pointColor: "rgba(178,34,34,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(205,92,92,1)",
            data: @forecast.wind_chill
        }
    ]
}

@options_wind_chill =   {generateLegend: true,
                        scaleFontSize: 10,
                        responsive: false,
                        datasetFill: false,
                        width: 400,
                        height: 400,
                        scaleLineColor: "rgba(139,0,0,1)",
                        scaleGridLineColor: "rgba(250,128,114,0.1)"
                        } %>
</h1> -->
<!-- some RGB colors to choose from http://www.rapidtables.com/web/color/RGB_Color.htm -->

<br>
<center><h4>Forecasted temperature vs. </h4></center>
<center><h4>What it'll feel like</h4></center>
<%= line_chart @data_temps, @options_temps %>
</div>

<div id = "dashboard_wrapper">
<h2>Right now: <img src=<%=@forecast.conditions_icon%> alt="clear"> <%=@forecast.temperature[0]%>F, <%=@forecast.humidity[0]%>% humidity.</h2>
<h2><%= @forecast.discrepancy_statement %></h2>
</div>
<center><h4 align="right"><%= form_for @forecast, url: forecasts_path, method: "POST" do |f| %>
  <%= f.label :zipcode %>
  <%= f.text_field :zipcode %>
  <%= f.submit "Get your forecast!" %>
<% end %>
</h4></center>

<!-- <center><h2>Humidity Forecast</h2></center>
<center> <%= line_chart @data_humidity, @options_humidity %> </center>
<center><h2>Wind Chill Forecast</h2></center>
<center> <%= line_chart @data_wind_chill, @options_wind_chill %> </center> -->