<div class = 'row top-padding'>
    <div class = 'col-md-12 padding-head' >
        <h1 class = 'text-center c-font bold'>
            <%=@forecast.now_statement%> 
        </h1>
        <h2 class = 'text-center'>
            <%=@forecast.city %>, <%= @forecast.state %> (<%= @forecast.zipcode%>)<%= %>
        </h2>
        <center>
            <h3>
                <a href="#" data-toggle="popover" title="What the Weathermen Won't Tell You" data-content="We use advanced meteorological science to provide you with real-time and forecast details to reflect the true feel outside. Provides a healthy dose of humor and alerts for heat index, wind chill, UV, and more.">
                    What is this about?
                </a>
            </h3>
        </center>
    </div>
 </div>

 <div class = 'data-container'>
 <div class = "row top-padding">
    <div class= "col-md-5">
    <div class = "padding">
    <% @data_temps = {
    labels: @forecast.hours , 
    datasets: [
        {
            label: "Forecasted Temperature, F",
            fillColor: "rgba(220,220,220,0.2)",
            strokeColor: "rgba(0,0,0,1)",
            pointColor: "rgba(0,0,0,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(0,0,0,1)",
            data: @forecast.temperature
        },
        {
            label: "Actual Temperature, F",
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(178,34,34,1)",
            pointColor: "rgba(178,34,34,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            data: @forecast.seasonal_index
        }
    ]
}

@options_temps =    {animationEasing: "easeOutElastic",
                    scaleFontColor: "black",
                    scaleFontSize: 14,
                    responsive: true,
                    datasetFill: false,
                    width: 475,
                    height: 475,
                    scaleLineColor: "rgba(0,0,0,1)",
                    scaleGridLineColor: "rgba(250,128,114,0.1)"
                    } %>

    <center>
        <h4 class = 'dash-font'>
            <span class= 'red'>
                Perceived Temperature vs. 
            </span>
        </h4>
    <h4 class = 'dash-font'> Actual Temperature </h4>
    </center>

    <%= line_chart @data_temps, @options_temps %>
</div>
</div>

<div class= "col-md-2">
</div>
                                
<div class = "col-md-5">
    <div class = "padding dash-font"> 
        <p> Right now it's <%=@forecast.temperature[0]%>°F,  <%=@forecast.humidity[0]%>% humidity <img src ="<%=@forecast.conditions_icon%>"> </p>
        <br>   
        <p>Feels like <%=@forecast.heat_index[0]%>°F. </p>
        <br>
        <p><%= @forecast.discrepancy_statement %></p>
        <br>
        <p><%= @forecast.t_shirt_statement %></p>
        <br>
        <p><%= @forecast.uv_statement %></p>
    </div>
</div>
</div>

<div class='row'>
<div class="form-horizontal">
    <class = "form"><%= form_for @forecast, url: forecasts_path, method: "POST", html: {class: "navbar-form navbar-nav"} do |f| %>
      <%= f.text_field :zipcode, :placeholder => "Enter Your Zipcode", class: "form-control" %>
      <%= f.submit "Get Another Forecast!", class: "btn btn-default" %>
    <% end %>
</div>
</div>

