<% if flash[:notice] %>
    <center><div class="notice"><%= flash[:notice] %></div></center>
  <% end %>

<center><h1>Please enter your zip code:</h1></center>

<center>
<%= form_for(@forecast) do |f| %>
  <%= f.label :zipcode %>
  <%= f.text_field :zipcode %>
  <%= f.submit "Get your Forecast!" %>
<% end %>
</center>


<footer class="footer">
<ul>
<li>WHO</li>
<li>WHAT</li>
<li>WHY</li>
<li><a href="https://github.com/benbrattain/Hot-Cold">Fork Me on Github</a></li>
</ul>
</footer>