<!DOCTYPE html>
<html>
<head>
  <title>Hot or Cold?</title>
  <link href='http://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
</head>
<body>
<div class = "container-fluid">
  <%= yield %>
  <center>
    <div id="footer"><footer class="footer">
      <p style="display:inline">
        <ul style="list-style-type: none; margin: 0; padding: -0">
          <li><a href="http://flatironschool.com/" target="_blank">BUILT WITH // ♥ AT THE FLATIRON SCHOOL ©2015</a></li>
          <li> <a href="https://github.com/AnnaErshova" target="_blank">ANNA ERSHOVA</a> <a href="https://github.com/AnnaErshova" target="_blank"></a>   |   <a href="https://github.com/benbrattain" target="_blank"> BEN BRATTAIN</a>   |   <a href="https://github.com/travisje" target="_blank"> TRAVIS EMMETT</a></li>
          <li><a href="https://github.com/benbrattain/Hot-Cold" target="_blank">FORK ME ON GITHUB</a></li>
        </ul>
      </p>
    </footer></div>
  </center>
</div>
</body>
</html>